@import '../css/normalize.css';
@import '../css/container.css';

// ====== VARIABLES START ====== //
$bodyBackground: #f5f5f5;
$topLineColor: #ededed;
$menuColor: #1463d2;
$additionalColor: #ffaa00;
$secondaryColor: #3eb41d;

// ====== VARIABLES END ====== //

* {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

body {
    background: $bodyBackground;
}

section {
    border-bottom: 3px solid white;
    h2{
        font-weight: normal;
        font-size: 1.8em;
        margin-bottom: 0.3rem;
    }
}

// ====== TOP LINE START ====== //
.top-line__container {
    background: $topLineColor;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;

    section {
        display: flex;

        .top-line__element {
            margin-right: 15px;
            text-transform: uppercase;
            color: #353b41;

            &::before {
                font: var(--fa-font-solid);
                content: "\f00c";
                margin-right: 5px;
            }

            a {
                color: black;
                font-weight: bolder;
            }
        }
    }

    @media screen and (max-width: 992px) {
        font-size: 12px;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

// ====== TOP LINE END ====== //

// ====== HEADER START ====== //
header {
    background: $menuColor;
    color: white;
    padding-top: 20px;

    .header__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .header__search {
            display: flex;
            flex-wrap: wrap;

            input {
                width: 300px;
                height: 40px;
            }

            button {
                background: $menuColor;
                color: white;
                box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
                border: none;
                width: 40px;
                height: 40px;
                border: none;
            }
        }

        .header__basket-elem {
            display: flex;

            .basket-price {
                display: flex;
                flex-wrap: wrap;
                margin-right: 10px;

                span {
                    text-align: right;
                    width: 100%;
                }
            }

            .basket-icon {
                font-size: 35px;
            }
        }
    }

    nav {
        .menu__mobile {
            display: none;
            margin-top: 20px;
            font-size: 25px;
            text-align: center;
        }

        .menu__wrapper {
            // first level menu styles
            padding: unset;
            height: auto;
            margin-bottom: 0;

            // transition: height 500ms;
            // overflow:hidden;
            li {
                text-decoration: none;
                display: inline-block;
                margin-right: 30px;

                a {
                    color: white;
                    text-decoration: none;
                    line-height: 45px;
                    padding: 13px 0;
                }

                &.menu__dropdown {
                    cursor: pointer;
                    margin-right: unset;
                    padding: 13px 0;

                    // position: relative;
                    &::after {
                        font: var(--fa-font-solid);
                        content: "\f0d7";
                        // position: absolute;
                        padding-left: 5px;
                    }

                    &.expanded {
                        position: relative;
                    }
                }

                &.expanded>ul {
                    display: inherit;
                    position: absolute;
                    top: 40px;
                    left: 0;
                }
            }

            ul {
                // second level menu styles
                display: none;
                text-align: center;
                width: 100px;
                box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
                padding: 0;

                li {
                    border: 1px solid $menuColor;
                    display: block;
                    background: white;
                    list-style: none;
                    margin-right: unset;
                    transition: all .5s;

                    a {
                        color: $menuColor;
                    }

                    &:hover {
                        background: $menuColor;

                        a {
                            color: white;
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .header__top {
            .header__search {
                input {
                    width: 260px;
                }
            }
        }

        nav {
            .menu__mobile {
                display: block;
            }

            .menu__wrapper {
                height: 0;

                li {
                    &.expanded>ul {
                        display: none;
                    }
                }

                &.menu__mobile_shown {
                    height: auto;

                    li {
                        &.expanded>ul {
                            display: inherit;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .header__top {
            .header__search {
                width: 100%;
                justify-content: center;

                input {
                    width: 80%;
                }
            }

            .header__basket-elem {
                width: 200px;
                margin: 20px auto 0 auto;
            }
        }

        nav {
            .menu__wrapper {
                text-align: center;

                li {
                    width: 45%;
                    margin: 0 auto;

                    ul {
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// ====== HEADER END ====== //

// ====== VISUAL-ENTRY START ====== //

#visual-entry {
    display: flex;
    border-bottom: none;

    img {
        width: 70%;
        height: 100%;
        max-width: 850px;
    }

    .visual-entry__usp {
        display: flex;
        flex-direction: column;
        width: 170px;
        margin: 0 auto;

        .visual-entry__usp-item {
            text-align: center;
            height: var(--elemHeight);
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            &:not(:last-of-type) {
                border-bottom: 2px solid $additionalColor;
            }

            i {
                width: 100%;
                color: $additionalColor;
                margin-top: 15px;
            }
        }
    }

    @media screen and (max-width:768px) {
        flex-wrap: wrap;

        img {
            width: 100%;
        }

        .visual-entry__usp {
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;

            .visual-entry__usp-item {
                height: 100px;
                width: 50%;
                justify-content: center;

                i {
                    display: none;
                }

                &:last-of-type {
                    border-bottom: 2px solid $additionalColor;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .visual-entry__usp {
            .visual-entry__usp-item {
                width: 100%;
            }
        }
    }
}

// ====== VISUAL-ENTRY END ====== //

// ====== TEXTUAL-ENTRY START ====== //

#textual-entry {
    .textual-entry__heading {
        font-size: 27px;
        margin-bottom: 0.5em;
    }

    .textual-entry__paragraph {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 0;
    }
}

// ====== TEXTUAL-ENTRY END ====== //

// ====== MATERIALS START ====== //

#materials {
    padding-bottom: 2rem;

    .materials__heading {
        font-size: 1.8em;
        font-weight: normal;
    }

    .materials__paragraph {
        font-size: 1.15em;
        line-height: 1.5;
        margin-top: 0.5rem;
    }

    .materials__compare-container {
        display: flex;
        flex-wrap: wrap;

        .materials__compare-item {
            width: 25%;
            padding: 0 1rem;
            border-left: 3px solid white;

            &:last-of-type {
                border-right: 3px solid white;
            }

            h3 {
                text-align: center;
                font-weight: normal;
                margin-top: 0;
            }

            .materials__image-container {
                img {
                    width: 100%;
                }
            }

            .item-inner {
                p {
                    font-weight: bold;
                    position: relative;

                    &:first-of-type::before {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 3px;
                        position: absolute;
                        top: 23px;
                        background: white;
                    }
                }

                ul {
                    height: 130px;
                    padding: 0;

                    li {
                        list-style: none;
                        position: relative;
                        padding-left: 20px;

                        &::before {
                            font: var(--fa-font-solid);
                            content: "\f00c";
                            margin-right: 5px;
                            color: $secondaryColor;
                            position: absolute;
                            left: 0;
                        }
                    }
                }

                a {
                    color: $secondaryColor;
                    text-decoration: none;
                    display: block;
                    margin-bottom: 1rem;
                    font-weight: bold;

                    &::after {
                        font: var(--fa-font-solid);
                        content: " \f054";
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .materials__compare-container {
            .materials__compare-item {
                width: 50%;

                &:nth-child(even) {
                    border-right: 3px solid white;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .materials__compare-container {
            .materials__compare-item {
                border-right: 3px solid white;
                border-bottom: 3px solid white;
                width: 100%;
                padding-bottom: 1.5rem;

                &:first-of-type {
                    border-top: 3px solid white;
                }

                .materials__image-container {
                    display: none;
                }

                .item-inner {
                    ul {
                        height: auto;
                    }
                }
            }
        }
    }
}

// ====== MATERIALS END ====== //

// ====== SIMPLE CONTENT START ====== //

#simple-content {
    .simple-content__item {
        display: flex;
        padding-bottom: 1rem;

        .image-container,
        .text-container {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .text-container {
            .subline {
                margin: 0;
                font-weight: bold;
                font-size: 1.5em;
            }
            p{
                line-height: 1.5;
                margin-top: 0.5rem;
            }
        }

        &:not(:first-of-type) {
            padding-top: 1rem;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

            .image-container {
                margin-left: 1rem;
            }
        }

        &:nth-child(even) {
            .text-container {
                margin-left: 1rem;
            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;

        .simple-content__item {

            &:nth-child(odd),
            &:nth-child(even) {
                flex-direction: column-reverse;
            }

            .image-container,
            .text-container {
                width: 100%;
                margin-left: 0 !important;
            }
        }
    }
}

// ====== SIMPLE CONTENT END ====== //

// ====== ACCORDION START ====== //
.accordion {
    .accordion-item {
        .accordion__button[aria-expanded='true'] {
            background: $additionalColor;
            color: white;
        }

        .accordion__button {
            background: white;
            position: relative;
            display: block;
            text-align: left;
            width: 100%;
            padding: 1rem 1.7rem;
            margin-bottom: 1rem;
            font-size: 1.15em;
            border: none;
            background: white;
            outline: none;

            &:hover,
            &:focus {
                cursor: pointer;
            }

            &::after {
                font: var(--fa-font-solid);
                content: '\f078';
                position: absolute;
                right: 1rem;
            }

            &:active {
                background: $additionalColor;
            }
        }

        .accordion__button[aria-expanded='true'] {
            +.accordion-content {
                opacity: 1;
                max-height: max-content;
                transition: all 200ms linear;
                will-change: opacity, max-height;
            }

            &::after {
                content: '\f077';
            }
        }

        .accordion-content {
            display: flex;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;

            p {
                font-size: 1rem;
                font-weight: 300;
                margin-top: 0;
                line-height: 1.5;
            }
            .accordion-content__text{
                width: 55%;
                flex-shrink: 0;
                span{
                    font-weight: bold;
                }
            }
            .carousel-wrapper{
                margin-left: 2rem;
            }
            @media screen and (max-width:992px) {
                flex-wrap: wrap;
                .accordion-content__text{
                    width: 100%;
                }
                .carousel-wrapper{
                    margin: 0 auto 1rem auto;
                    height: 400px;
                }
            }
            @media screen and (max-width:480px) {
                .carousel-wrapper{
                    height: 250px;
                }
            }
        }
    }
}

// ====== ACCORDION END ====== //

// ====== MEDIA SECTION START ====== //

#media {
    padding-top: 1rem;
}

@import "../css/slider.css";
// ====== MEDIA SECTION END ====== //

// ====== BRAND START ====== //
#brand{
    .brand__container{
        margin-top: 1rem;
        padding: 1rem;
        background: white;
        img{
            width: 100%;
        }
        h4{
            font-weight: normal;
            font-size: 1.5em;
            margin: 0.5rem 0;
            &:before{
                font: var(--fa-font-solid);
                content: '\f0a1';
                margin-right: 5px;
            }
        }
        p{
            line-height: 1.5;
            margin-top: .5rem;
        }
    }
}

// ====== BRAND END ====== //